<header id="header" class="text-center">
  <div class="container">
    <div class="row">
      <div class="intro-text">
        <h1>Hello World</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique necessitatibus enim quas officiis. Quidem praesentium ea necessitatibus iure, voluptas rem laborum quibusdam aliquam neque blanditiis nisi magni eligendi mollitia.</h3>
        <button class="btn btn-default">Learn More</button>
      </div>
  </div>
  </div>
</header>

