<section id="redefine" class="text-center">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <img src="images/layers.png" alt="layers" class="img-responsive">
        </div>
        <div class="col-md-6">
          <h2>Redfining The Web</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolorem libero necessitatibus, incidunt saepe. Laborum aspernatur, libero natus nesciunt accusantium, dolore sapiente neque cum, provident, recusandae repellat illo enim soluta!</h3>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quidem recusandae asperiores dolore iusto libero, esse ipsam vitae harum, eos, sapiente necessitatibus, nihil ullam est vero. Aliquam qui autem asperiores?</h3>
          <button class="btn btn-default">Learn More</button>
       </div>
    </div>
  </div>
</section>
