<section id="services" class="text-center">
  <div class="container">
    <div class="row">
      <div class="services-text">
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dignissimos corrupti cum iure, dicta atque alias labore suscipit, illo, incidunt libero non molestiae voluptas, quaerat. Ducimus eligendi magnam consequatur esse.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quam iusto, veritatis adipisci eum atque quas. Neque accusantium unde quidem explicabo rerum ipsa tenetur assumenda rem. Eius obcaecati, molestiae tempora.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
        <h3>Unique Layouts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
        <h3>Responsive</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-spinner fa-3x" aria-hidden="true"></i>
        <h3>Ajax Transitions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
        <h3>E-Commerce</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3>Unlimited Portfolios</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-bolt fa-3x" aria-hidden="true"></i>
        <h3>Powerful</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa tenetur distinctio harum iusto, inventore ipsa reiciendis qui expedita tempora enim rem officia assumenda, provident blanditiis, amet fugit? Architecto, nam.</p>
      </div>
    </div>
  </div>
</section>
