<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Company - Welcome</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  {{> navbar}}
  {{> header}}
  {{> redefine}}
  {{> services}}
  {{> team}}
  {{> companies}}
  {{> contact}}
  {{> footer}}
</body>
</html>
