#services {
  background-color: #222;
  padding-top: 150px;
  padding-bottom: 150px;
}

.services-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

p {
  color: #7b7b7b;
}

i {
  color: #5c1bb7;
}

